---
import '@src/styles.css'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mobile Combat</title>
  </head>
  <body/>
</html>

<script>
  import '@src/scene'
</script>
