body {
  overflow: hidden;
  margin: 0;
  background-color: black;
}

canvas {
  outline: none;
}

#debug {
  position: absolute;
  width: 100%;
  z-index: 100;
  color: white;
  padding: 1rem;
  margin: 0;
}
